annotated-types==0.7.0
greenlet==3.2.3
h11==0.16.0
pydantic==2.11.7
pydantic-core==2.33.2
sqlalchemy==2.0.41
starlette==0.46.2
uvicorn==0.34.3
gunicorn==23.0.0
fastapi==0.115.14

# 기타 필수 라이브러리 (FastAPI 의존성)
python-dotenv==1.1.1
typing-inspection==0.4.1
typing_extensions==4.14.0